.popup__container {
  position: relative;
  margin: 195px auto 0;
  width: 430px;
  background-color: #FFFFFF;
  border-radius: 10px;
  opacity: 1;
}

@media screen and (max-width:510px){
  .popup__container {
    margin-top: 123px auto;
    width: 282px;
  }
}
